# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\_文档\_研究生_实验文档\10.时间序列代码\2.RNN异常检测-联邦学习版本\RNN-Time-series-Anomaly-Detection-master_FL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
